# Reproducing stance detection - UKP dataset

In [1]:
import mlflow
import pandas as pd

mlflow.set_tracking_uri('http://localhost:5000')

## In-topic

In [2]:
runs = mlflow.search_runs(run_view_type=mlflow.tracking.client.ViewType.ACTIVE_ONLY, 
                          experiment_ids=[2, 4])

In [3]:
runs.groupby('params.task_name')['metrics.test_acc'].max().reset_index()

  params.task_name  metrics.test_acc
0              SL2          0.775266
1              SL3          0.713643

## Cross-topic

In [4]:
runs = mlflow.search_runs(run_view_type=mlflow.tracking.client.ViewType.ACTIVE_ONLY, 
                          experiment_ids=[6, 7])

In [5]:
cross_topic = runs.groupby(['params.task_name', 'params.test_id'])['metrics.test_acc'].max().unstack()
cross_topic['mean'] = cross_topic.values.mean(axis=1)
cross_topic

params.test_id,abortion,cloning,death_penalty,gun_control,marijuana_legalization,minimum_wage,nuclear_energy,school_uniforms,mean
params.task_name,,,,,,,,,
SL2,0.587217,0.832362,0.498724,0.513774,0.699918,0.731145,0.768176,0.776295,0.675951
SL3,0.697378,0.704508,0.690496,0.647411,0.692525,0.762636,0.767897,0.772274,0.716891

# REVIEWS dataset

In [10]:
runs = mlflow.search_runs(run_view_type=mlflow.tracking.client.ViewType.ACTIVE_ONLY, 
                          experiment_ids=[3, 8])

In [11]:
runs.groupby('params.task_name')['metrics.test_acc', 'metrics.test_f1_macro'].max().reset_index()

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

  params.task_name  metrics.test_acc  metrics.test_f1_macro
0              SL2          0.955128               0.930388
1              SL3          0.740214               0.735966